/* Color Palette => https://coolors.co/palette/fffcf2-ccc5b9-403d39-252422-eb5e28 */
/* Color Palette =>  https://coolors.co/47c4a6-443b86-f42861-60165d-ac143f*/
:root {
    --primaryColor: #47C4A6;
    --secondaryColor: #443B86;
    --thirdColor: #F42861;
    --fourthColor: #60165D;
    --fithColor: #FFFCF2;
    --sixthColor: #000000;
    --seventhColor: #191c24;
}
.bg-primaryColor{
    background-color: var(--primaryColor);
}
.bg-secondaryColor{
    background-color: var(--secondaryColor);
}
.bg-thirdColor{
    background-color: var(--thirdColor);
}
.bg-fourthColor{
    background-color: var(--fourthColor);
}
.bg-fithColor{
    background-color: var(--fithColor);
}
.bg-sixthColor{
    background-color: var(--sixthColor);
}
.bg-seventhColor{
     background-color: var(--seventhColor);
 }
.bg-img1{
    background-image: url("../images/slide5.jpg");
    background-size: cover;
}
/* Parallax Sections */
.jumbotron {
    background-image: url("https://www.smak.co.za/images/bg.jpg");
    background-size: 100% 100%;
    color: #b0bec5;
    margin-bottom: 0;
}
.navbar-scroll {
    /*background-color: rgba(0,123,255,0.4);*/
    transition: background-color 0.5s;
}
@media(max-width: 768px){
    .navbar {background-color: #007bff !important; }
}
.parallax-container {
    max-width: 960px;
    margin: 0 auto;
}
section.module:last-child {
    margin-bottom: 0;
}
section.module h2 {
    margin-bottom: 40px;
    font-family: "Roboto Slab", serif;
    font-size: 30px;
}
section.module p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
}
section.module p:last-child {
    margin-bottom: 0;
}
section.module.content {
    padding: 40px 0;
    background-color: rgba(207,216,220,0.5);
}
section.module.content:last-child {
    margin-bottom: 60px;
}
section.module.parallax {
    padding: 240px 0;
    background-position: 0 0;
}
section.module.parallax h1 {
    color: #1e1e1e;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px white;
}
section.module.parallax-1 {
    background-image: url("/images/slide2.jpg");
    background-position: 50% 0;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0,123,255,0.4);
    background-blend-mode: screen;
}
section.module.parallax-2 {
    background-image: url("/images/slide4.jpg");
    background-position: 50% 0;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0,123,255,0.4);
    background-blend-mode: screen;
}
section.module.parallax-3 {
    background-image: url("/images/slide3.jpg");
    background-position: 50% 0;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0,123,255,0.4);
    background-blend-mode: screen;
}

@media all and (min-width: 600px) {
    section.module h2 {
        font-size: 42px;
    }
    section.module p {
        font-size: 20px;
    }
    section.module.parallax {
        padding: 300px 0;
    }
    section.module.parallax h1 {
        font-size: 96px;
    }
}
@media all and (min-width: 960px) {
    section.module.parallax h1 {
        font-size: 160px;
    }
}


/* Itunes Carousel */
#scroller {
    width: 500px;
    height: 200px;
    margin: 0 auto;
    padding: 50px 0;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    -o-perspective: 500px;
}

#scroller .item {
    width: 500px;
    display: block;
    position: absolute;
    border-radius: 10px;
    -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.85, transparent), to(rgba(255,255,255,0.15)));
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    z-index: 0;
}

/* Since inset shadows don't play nice with images, we'll create a pseudo element and apply our image styling to that instead */
#scroller .item:before {
    border-radius: 10px;
    /*width: 500px;*/
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3), 0 0 0 1px rgba(0,0,0,0.4);
}

#scroller .item img {
    display: block;
    border-radius: 10px;
    height: 200px;
}

#scroller .left {
    -webkit-transform: rotateY(25deg) translateX(-320px) skewY(-5deg) scale(0.4, 0.6);
    -moz-transform: rotateY(25deg) translateX(-320px) skewY(-5deg) scale(0.4, 0.6);
    -o-transform: rotateY(25deg) translateX(-320px) skewY(-5deg) scale(0.4, 0.6);
}

#scroller .middle {
    z-index:1;
    -webkit-transform: rotateY(0deg) translateX(0) scale(1);
    -moz-transform: rotateY(0deg) translateX(0) scale(1);
    -o-transform: rotateY(0deg) translateX(0) scale(1);
}

#scroller .right {
    -webkit-transform: rotateY(-25deg) translateX(320px) skewY(5deg) scale(0.4, 0.6);
    -moz-transform: rotateY(-25deg) translateX(320px) skewY(5deg) scale(0.4, 0.6);
    -o-transform: rotateY(-25deg) translateX(320px) skewY(5deg) scale(0.4, 0.6);
}

#scroller .left-hidden {
    opacity: 0;
    z-index: -1;
    -webkit-transform: rotateY(25deg) translateX(-430px) skewY(-5deg) scale(0.3, 0.5);
    -moz-transform: rotateY(25deg) translateX(-430px) skewY(-5deg) scale(0.3, 0.5);
    -o-transform: rotateY(25deg) translateX(-430px) skewY(-5deg) scale(0.3, 0.5);
}

#scroller .right-hidden {
    opacity: 0;
    z-index: -1;
    -webkit-transform: rotateY(-25deg) translateX(430px) skewY(5deg) scale(0.3, 0.5);
    -moz-transform: rotateY(-25deg) translateX(430px) skewY(5deg) scale(0.3, 0.5);
    -o-transform: rotateY(-25deg) translateX(430px) skewY(5deg) scale(0.3, 0.5);
}

.navItunesCarousel {
    position: absolute;
    width: 500px;
    height: 30px;
    margin: 170px 0 0;
    z-index: 2;
    display: none;
}

.prev, .next {
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    background-color: #F42861;
    border-radius:15px;
    color: #E4E4E4;
    bottom: 15px;
    left: 15px;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5), 0 0 0 1px rgba(0,0,0,0.7);
}

.next {
    left: inherit;
    right: 15px;
}

.prev:hover, .next:hover {
    box-shadow: inset 0 0 0 2px rgba(255,255,255,0.5), 0 0 0 1px rgba(0,0,0,0.7);
}
