<footer class="py-5 bg-primaryColor">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>

    <ul class="nav list-unstyled d-flex justify-content-center">
        <li class="text-center text-muted">© 2022 Vinyle, Developed by Christophe F.</li>
        <li class="ms-3"><a class="text-muted" href="https://www.linkedin.com/in/christophefondeville/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="https://github.com/ChristopheFondeville" target="_blank"><i class="bi bi-github"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="https://twitter.com/Christophe_Fon" target="_blank"><i class="bi bi-twitter"></i></a></li>
    </ul>
</footer>